<div id="top_logo">
  <%= image_tag 'yrkds_logo_top.gif', :alt => 'ヤルキダス' %>
</div>
<div id="top_login">
  <%= link_to (image_tag 'yrkds_in.gif', :alt => '今日から本気出す', :border => '0'), :controller => 'sessions', :action => 'new' %>
</div>
<div id="footer">Produced by <a href="http://oil-710.com/" target="_blank">Open Innovation Lab</a></div>
