<div class="boxouter boxmedium bglightbrown">
  <div class="boxinner">
    <div class="innerTitle clearfix">
      <div class="icon"><%= image_tag 'mark_trainer.png' %></div>
      <div class="captionmedium">目標達成の助けに</div>
    </div>
    <div class="trainer">
      <a id="trainer_contents">
        <img width="420" height="60" border="0" id="trainer_contents_image" />
      </a>
    </div>
  </div>
</div>
